Package: ${PACKAGE}
Version: ${VERSION}
Section: base
Priority: optional
Architecture: all
Depends: perl,
 libauthen-krb5-simple-perl,
 libauthen-sasl-perl,
 libdigest-md5-perl,
 libscalar-list-utils-perl,
 libio-socket-ssl-perl,
 libwww-perl,
 libnet-dhcp-perl,
 libnet-dns-perl,
 libnet-jabber-perl,
 libnet-ldap-perl,
 libnet-smtp-ssl-perl,
 libstorable-perl,
 libsys-syslog-perl,
 libxml-simple-perl
Maintainer: brane.gracnar@planet9.si
Description: aa_monitor - AdminAlert monitor package
 
 This software is modular general purpose health checking system.
 
 
